<div class="content" role="main">

  <h2>Claim Detail</h2>
  <br/>
  <div class="table-responsive" style="margin-left: 100px; margin-right: 100px; width: 70%; text-align: center;">
    <div class="center" style="text-align: center;">
      <table class="table " style="width: 100%;">
        <tbody>
          <tr><td>Name :</td><td>{{name}}</td></tr>
          <tr><td>IC Number :</td><td>{{ic}}</td></tr>
          <tr><td>Phone Number :</td><td>{{phoneNum}}</td></tr>
          <tr><td>Claim Type :</td><td>{{claim_type}}</td></tr>
          <tr><td>Descriptions :</td><td>{{descriptions}}</td></tr>
          <tr><td>Status :</td><td>{{status}}</td></tr>
          <tr><td>Date :</td><td>{{date}}</td></tr>
        </tbody>
      </table>
      <button class="card card-small" tabindex="0" [routerLink]="['/']">
        <span>Back</span>
      </button>
    </div>
  </div>
</div>

