<div class="content" role="main">

  <h2>Claims Form</h2>
  <br/>
  <div class="table-responsive" style="margin-left: 100px; margin-right: 100px; width: 70%; text-align: center;">
    <form [formGroup]="myForm">
      <input class="form-control" type="text" formControlName="nama" placeholder="Name">
      <br/>
      <input class="form-control" type="text" (keypress)="numberOnly($event)" maxlength=12 formControlName="ic" placeholder="IC Number">
      <br/>
      <input class="form-control" type="text" (keypress)="numberOnly($event)" maxlength=11 formControlName="phoneNum" placeholder="Phone Number">
      <br/>
      <input class="form-control" type="text" formControlName="ctype" placeholder="Claim Type">
      <br/>
      <input class="form-control" type="text" formControlName="descriptions" placeholder="Descriptions">
      <br/>
      <input class="form-control" type="date" formControlName="date" placeholder="Date">
      <br/>
      <button class="card card-small" (click)="save()">
        Submit
      </button>
  </form>
  </div>
</div>

