<div class="content" role="main">

  <h2>Claims Submission</h2>
  <br/>
  <div class="table-responsive" style="margin-left: 100px; margin-right: 100px; margin-top: 5%;width: 70%;">
    <table class="table table-striped" style="width: 100%;">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Claim Type</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of claim" [routerLink]="['/detail',data.id]" style="cursor: pointer;">
          <td>{{data.name}}</td>
          <td>{{data.claim_type}}</td>
          <td>{{data.date}}</td>
          <td>{{data.status.status}}</td>
        </tr>
        <tr id="emptycol" style="text-align: center;">
          <td colspan="4">No Data</td>
        </tr>
      </tbody>
    </table>
    <button class="card card-small" tabindex="0" [routerLink]="[ '/submitform']">
      <span>Submit Claim</span>
    </button>
  </div>
</div>
